#container {
	position: absolute;
	right: 0;
	width: 32%;
	margin-top: 15px;
	margin-right: 15px;
}

#map { 
    height: 78vh; 
}

#draggables, #draggables1, #draggables2, #draggables3, #draggables4 {
	padding: 10px;
	width: 60px;
	text-align: center;
	background-color: lightgray;
	margin: 4px;
	position: absolute;
	z-index: 2000; 
}
 
#droppable {
	text-align: center;
}

#used{
	font-size: large;
	text-align: center;
}